@font-face {
  font-family: 'fm-future';
  src: url('/fonts/goodtimes.ttf');
}

/*
@font-face {
  font-family: 'systemglitch';
  src: url('/fonts/SystemGlitch-Regular.otf');
} */

hr {
	border-color: #dbd7d7;
}

.social-table tr > td:first-child {
	padding-right: 1em;
}

.paper-title {
  font-weight: bold;
}

.SectionTitle {
  margin-top: 1rem;
}

html {
  height: 100%;
}

code {
	font-weight: bold;
	color: white;
}

body {
	height: 100%;
	background-color: #231c1c;
	color: #dbd7d7;
	font-family: "Montserrat", sans-serif;
	padding-top: 2rem;
	line-height: 1.5;
}

.index-fm-image {
  -webkit-mask-image: radial-gradient(circle at 52% 54%, #020202 57%, rgba(0, 0, 0, 0.0) 63%);
  mask-image: radial-gradient(circle at 52% 54%, #020202 57%, rgba(0, 0, 0, 0.0) 63%);
  /* radial-gradient(circle at 53% 55%, #020202 46%, rgba(0, 0, 0, 0.0) 50%); */
  /* -webkit-mask-image: linear-gradient(to top, rgba(0, 0, 0, 1) 85%, rgba(0, 0, 0, 0) 100%); */
  /* -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 85%, rgba(0, 0, 0, 0) 100%); */
}

a, a:hover {
  color: #ddb55e;
}

h1, h2, h3 {
  color: #dbd7d7;
	font-family: "fm-future", sans-serif;
	font-weight: 200;
	margin-top: 2rem;
	margin-bottom: 1rem;

	background: linear-gradient(#f7e887 0%, #ddb55e 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 {
	font-size: 1.8rem;
}

h1 {
	font-size: 2.5rem;
}

h3 {
	font-size: 1.3rem;
}

#papers_list .text-primary {
	color: #ddb55e !important;
}

.fm-mt {
  margin-top: 2rem;
}

.fm-navbar {
  /* border-bottom: 1px solid white; */
  padding-left: 0px;
  /* border-bottom-style: groove; */
  /* border-bottom: radial-gradient( circle at 50% 50%, white 57%, blue 80 ); */
  /* 5px solid white; */
  /* background-color: #7171714f; */
}

.nav-item {
	/* font-family: "Montserrat", sans-serif; */
	/* font-weight: 500; */
	width: 100%;
	/* font-size: 2em; */
	/* padding: 1rem; */
	/* background-image: url('/images/nav-item-bg.svg');
	background-size: 100% 100%;
  -o-background-size: 100% 100%;
  -webkit-background-size: 100% 100%; */
}

.nav-item svg {
	fill: #141414;
	/* padding: 1rem; */
}

.nav-active #border {
	stroke: #ddb55e;
	stroke-width: 1;
	fill: transparent;
}

.nav-active svg {
	fill: url(#nav-active-gradient);
}

/*
#nav-active-gradient:hover {

}

#nav-active-gradient:hover ~ stop:first-child {
  stop-color: #24bed2;
}

#nav-active-gradient:hover ~ stop:last-child {
  stop-color: #32ffe4;
} */

.nav-active .nav-text {
	color: #dbd7d7 !important;
	/* transition: 2s ease-in; */
}

.nav-link {
	position: relative;
	/* padding: 0; */
	/* margin-bottom: 1rem; */
}

.nav-text {
	font-family: "fm-future";
	position: absolute;
	top: 0;
	right: 20%;
	display: inline-block;
	vertical-align: middle;
	color: #ddb55e !important;
	font-size: 1.5rem;
	height: 100%;
	text-transform: uppercase;
}

/* .nav-item > a:before {
	z-index: 20;
  content: "";
  position: absolute;
  width: 100%;
  height: 1rem;
  bottom: 0;
  left: 0;
  background-color: #af701d;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.nav-item > a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(0.9);
  transform: scaleX(0.9);
} */

/* .nav-item > a:hover { */
  /* text-decoration: underline; */
	/* transition: 0.2s; */
  /* color: #fefefe !important; */
	/* color: rgb(204, 187, 51); */
/* } */

.fm-light-img-bg {
  background-color: white;
}

.navbutton-container {
	z-index: 20000;
  background-color: #231c1c;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 65%, rgba(0, 0, 0, 0) 100%);
  -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 65%, rgba(0, 0, 0, 0) 100%);
  /* background-image: linear-gradient(to bottom, #231c1c 100%, #231c1c 50%); */
	/* right: -5rem; */
	/* max-width: 100%; */
	/* width: 100%; */
}

/*
.navbar-toggler {
	border: none;
} */

.fm-navbar-toggler {
	cursor: pointer;
	/* color: #ddb55e; */
}

#fm-navbar {
	max-width: 100% !important;
	width: 100% !important;
	max-height: 100% !important;
	height: 100% !important;
	opacity: 0.97;
	background-color: #231c1c;
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	/* font-size: 2rem; */
}

.fm-navbar a {
	font-weight: bold;
}
