{{^isForFeed}}
{{> header.html}}
<div class="container">
<p class="text-right"><small>
<span class="mr-3">
	<a href="/bliki/feed.xml">Follow with <i class="fa fa-rss"></i></a>
</span>	
<span class="mr-3">
<a href="https://github.com/fmontesi/website/edit/master/web{{webPath}}">Edit this page on <i class="fab fa-github"></i></a>
</span>
<span><a href="/bliki/">Go back to the Bliki index</a></span>
</p>
{{/isForFeed}}
{{#isForFeed}}
<p>
<small>
If some details (like sequence charts) display incorrectly, please check the <a href="{{webPath}}">website version of this page</a>.
</small>
</p>
{{/isForFeed}}
<h1 class="mb-1">{{$title}}{{/title}}</h1>
<p>
By {{$author}}{{/author}}.
Created on {{published}}.
Last updated on {{updated}}.
<br/>
{{$subHeader}}{{/subHeader}}
</small></p>
{{> toc.html}}
{{$content}}{{/content}}
</div>
{{^isForFeed}}
<script type="module">
import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid@10/dist/mermaid.esm.min.mjs';
mermaid.initialize({ startOnLoad: true, theme: 'dark' });
</script>
<!-- <script type="module">
import hljs from 'https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/es/highlight.min.js';
import bnf from 'https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/es/languages/bnf.min.js';
hljs.registerLanguage('bnf', bnf);
hljs.highlightAll();
</script> -->
{{> footer.html}}
{{/isForFeed}}