{{> header.html}}
<div class="container">
<p class="text-right"><a href="/bliki/">Go back to the bliki index</a></p>
<h1 class="mb-1">{{$title}}{{/title}}</h1>
<p><small>
By {{$author}}{{/author}}.
Created on: {{$date}}{{/date}}.
{{$subHeader}}{{/subHeader}}
</small></p>
{{$content}}{{/content}}
</div>
<script type="module">
import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid@10/dist/mermaid.esm.min.mjs';
mermaid.initialize({ startOnLoad: true, theme: 'dark' });
</script>
<!-- <script type="module">
import hljs from 'https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/es/highlight.min.js';
import bnf from 'https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/es/languages/bnf.min.js';
hljs.registerLanguage('bnf', bnf);
hljs.highlightAll();
</script> -->
{{> footer.html}}