<audio id="beep-audio" preload="auto">
	<source src="/audio/beep.mp3"></source>
	<source src="/audio/beep.ogg"></source>
</audio>
<script type="text/javascript">
$(".fm-navbar-toggler").click( function() {
	$("#fm-menu").toggle(500);
});

$("#fm-menu").click( function() {
	$("#fm-menu").hide(500);
});

$(".nav-link").mouseenter( function() {
	$( this ).toggleClass( "nav-active" );
});

$(".nav-link").mouseleave( function() {
	$( this ).toggleClass( "nav-active" );
});

$("#fm-menu a")
	.each(function(i) {
		if (i != 0) {
			$("#beep-audio")
				.clone()
				.attr("id", "beep-audio" + i)
				.appendTo($(this).parent());
		}
		$(this).data("beeper", i);
	})
	.mouseenter(function() {
		$("#beep-audio" + $(this).data("beeper"))[0].play();
	});
$("#beep-audio").attr("id", "beep-audio0");
</script>
<script>
$( window ).on( "load", function() {
    mainNav();
    $(window).scroll(function() {
        mainNav();
    });
    function mainNav() {
        var top = (document.documentElement && document.documentElement.scrollTop) || document.body.scrollTop;
        if (top > 30) {
			$('.navbutton-container').addClass("bg-1");
			$('#fm-navbar-links').css("display","flex");
			$('#fm-navbar-links').stop().animate({
				"opacity": '1'
			});
		} else {
			$('.navbutton-container').removeClass("bg-1");
			$('#fm-navbar-links').css("display","none");
			$('#fm-navbar-links').stop().animate({
				"opacity": '0'
			});
		}
	}
     });
</script>
</body>
</html>