<!DOCTYPE html>
<html lang="en">
<head>
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-4PF4QHJMB8"></script>
	<script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());

	gtag('config', 'G-4PF4QHJMB8');
	</script>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="keywords"
  content="Fabrizio Montesi
	  Choreographies
	  Choral
	  Choreographic Programming
	  Choreography
  	Jolie
  	Chor
  	Global types
  	Protocols
  	Global descriptions
  	Personal
  	Website
  	Web
  	Site
  	Home
  	Page
  	Homepage
  	Service Oriented Computing
  	Service-Oriented Computing
  	Service Oriented Architectures
  	Service-Oriented Architectures
  	Communication-Centred Programming
  	Process Calculi
  	Process Calculus
  	Process-Calculi
  	Process-Calculus
  	Pi-Calculus
  	Pi-Calculi
  	Pi Calculus
  	Pi Calculi
  	Picalculus
  	Picalculi
  	Transitions
  	Reductions
  	WS-BPEL
  	UDDI
  	SOAP
  	ACM
  	SAC
  	Conference
  	Distributed Systems
  	Computer Science
  	Formal Models
    Microservices
  	Informatics" />

  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>{{$title}}Fabrizio Montesi{{/title}}</title>

  <!-- Favicons -->
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/site.webmanifest">
	<!-- Fonts -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400;500&display=swap" />
	<link rel="preload" href="/webfonts/fa-brands-400.woff2" as="style"/>
	<link rel="preload" href="/webfonts/fa-regular-400.woff2" as="style"/>
	<link rel="preload" href="/fonts/goodtimes.ttf" as="style"/>
	<link rel="stylesheet" href="/css/all.min.css"/>
  <!-- Bootstrap -->
  <link href="/css/bootstrap.min.css" rel="stylesheet" />
  <link href="/css/fm.css" rel="stylesheet" />
  <script src="/lib/jquery.js"></script>
  <script src="/lib/bootstrap.min.js"></script>
  <script src="/lib/jo.js"></script>
  <script src="/lib/popper.js"></script>
  
  <script type="text/javascript" src="/lib/alist.js"></script>
  <script type="text/javascript" src="/lib/fuse.js"></script>

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
  {{$head}}{{/head}}
</head>
<body>
	<!-- <div class="container navbutton-container fixed-top">
		<nav class="navbar float-right navbar-light fm-navbar">
			<span class="navbar-toggler-icon fm-navbar-toggler"></span>
		</nav>
	</div> -->
	<svg height="0" width="0">
		<defs>
			<linearGradient id="nav-active-gradient">
				<!-- <stop offset="0%" stop-color="#fcea99"> -->
				<stop offset="0%" stop-color="#fcea99">
					<!-- <animate attributeName="stop-color" dur="200ms" from="#141414" to="#fcea99" begin="indefinite" fill="freeze" /> -->
				</stop>
				<stop offset="70%" stop-color="#c19c4e">
					<!-- <animate attributeName="stop-color" dur="200ms" from="#fcea99" to="#c19c4e" begin="indefinite" fill="freeze" /> -->
					<!-- <animate attributeName="offset" dur="200ms" from="0%" to="70%" begin="indefinite" fill="freeze" /> -->
				</stop>
				<!-- <stop offset="100%" stop-color="#141414"> -->
					<!-- <animate attributeName="stop-color" dur="200ms" from="#141414" to="#c19c4e" begin="indefinite" fill="freeze" /> -->
				<!-- </stop> -->
				<!-- <animate attributeName="x2" dur="300ms" from="0" to="100" begin="indefinite" fill="freeze" /> -->
			</linearGradient>
			<g id="fm-menu-shape">
				<path d="M9,1 A8,8 0 0,0 1,9 L1,20 30,39 292,39 A8,8 0 0,0 299,32 L299,20 270,1z"
					id="border" />
				<path d="M10,4 A7,7 0 0,0 4,6 L4,19 31,36 290,36 A5,5 0 0,0 296,34 L296,21 269,4z"
					id="fill" />
			</g>
		</defs>
	</svg>
	<div class="p-0 navbutton-container fixed-top w-100 text-center">
		<div class="container p-0">
		<nav class="navbar float-right navbar-light fm-navbar">
			<div id="fm-navbar-links" style="display:none; opacity:0;">
				<span class="mr-2 d-xl-none"><a href="/">Home</a></span>
				<span class="d-none d-xl-block mr-2">
				{{#menu}}
				{{#cols}}
				{{#item}}
					<span class="mr-2"><a href="{{{link}}}">{{{text}}}</a></span>
					<!-- {{#break}}<br/>{{/break}} -->
				{{/item}}
				{{/cols}}
				{{/menu}}
				</span>
				<div class="d-none d-mini-flex">
					<span class="mr-2"><a rel="me" href="https://mastodon.social/@fmontesi"><i class="fab fa-mastodon"></i></a></span>
					<span class="mr-2"><a href="https://twitter.com/famontesi"><i class="fab fa-twitter"></i></a></span>
					<span class="mr-2"><a href="https://linkedin.com/in/fmontesi"><i class="fab fa-linkedin"></i></a></span>
					<span class="mr-2"><a href="https://www.youtube.com/channel/UCHMirV7UOCx-miEzXgcDBeA"><i class="fab fa-youtube"></i></a></span>
					<span class="mr-2"><a href="https://scholar.google.com/citations?user=zRA6uA4AAAAJ"><i class="fas fa-graduation-cap"></i></a></span>
					<span class="mr-4"><a href="mailto:fmontesi@imada.sdu.dk"><i class="far fa-envelope"></i></a></span>
				</div>
			</div>
			<span class="fm-navbar-toggler d-flex">
				<!-- <span class="mr-1" style="font-weight: bold">Menu</span> -->
				<span class="navbar-toggler-icon"></span>
			</span>
		</nav>
		</div>
	</div>

	<div id="fm-menu" class="overflow-auto" style="display:none">
	<div class="container w-100 d-flex align-items-center text-center justify-content-center col-sm-12 col-md-12 col-lg-12 col-xl-8">
	<div class="row w-100 justify-content-center pt-5">
	{{#menu}}
	{{#cols}}
	<div class="col-sm-12 col-md-6 col-lg-6">
		<ul class="navbar-nav m-auto w-100" style="list-style-type: none";>
			{{#item}}
				<li class="nav-item">
					<a href="{{{link}}}" class="nav-link">
						<svg viewBox="0 0 300 40" preserveAspectRatio="none">
							<g>
								<path d="M9,1 A8,8 0 0,0 1,9 L1,20 30,39 292,39 A8,8 0 0,0 299,32 L299,20 270,1z"
									id="border" />
								<path d="M10,4 A7,7 0 0,0 4,6 L4,19 31,36 290,36 A5,5 0 0,0 296,34 L296,21 269,4z"
									id="fill" />
							</g>
						</svg>
						<span class="nav-text d-flex align-items-center"><span>{{{text}}}</span></span>
					</a>
				</li>
			{{/item}}
		</ul>
	</div>
	{{/cols}}
	{{/menu}}
	</div>
	</div>
	</div>

	{{$banner}}{{/banner}}