{{> author-list.html}} [{{year}}], <span class="pub-title">{{{title}}}</span>.
{{where}}.
<br/>
{{^fullView}}
<a href="/publication/{{path}}"><i class="fa fa-eye"></i> Full view & info</a> | 
{{/fullView}}
{{#fullView}}
<a href="{{.}}"><i class="fa fa-eye"></i> Full view & info</a> | 
{{/fullView}}
{{#notes}}
	{{{text}}} | 
{{/notes}}
{{#pdf}}
<a href="/files/{{.}}.pdf"><i class="fa fa-download"></i> PDF</a> | 
{{/pdf}}
{{#peerReviewedVersion}}
<a href="#{{.}}">peer-reviewed version</a> | 
{{/peerReviewedVersion}}
<a style="cursor:pointer" data-toggle="collapse" href="#bibItem-{{id}}">bibtex</a>
|
{{#links}}
	<a href="{{href}}">{{{name}}}</a>{{^last}} | {{/last}}
{{/links}}
<div id="bibItem-{{id}}" class="collapse panel panel-default">
<div class="panel-body"><pre>{{bibtex}}</pre></div></div>